#logo h1{
    margin: .5rem 0 1rem 2rem;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    font-size: 400px;
    position: relative;
    right: 20px;


}
#logo {
    margin: 25rem auto;
    width: fit-content;
    border: #feffff solid 3rem;
    border-radius: 5rem;
    height: 750px;
    width:  750px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.App {
    width: 100%;
    background-color: #3aafa9;
    height: fit-content;
}

.head {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 4;
    max-height: calc(40px + 2.5rem);
    height: 5rem;
}

.head h1 {
    margin: .5rem 0 1rem 2rem;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.nav {
    margin: auto 3rem auto 0;
    display: flex;
    flex-wrap: wrap;
}

.navA {
    margin-right: 1rem;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}

.navA:hover {
    cursor: pointer;
}

.navHidden {
    display: flex;
    flex-direction: column;
    background-color: rgba(30, 66, 91, .5);
    animation-duration: .2s;
    animation-name: slidein;
    position: relative;
    top: 1rem;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.navHidden .navA {
    font-size: 5rem;
    margin: 1rem;
    text-align: right;
}

.hamburger {
    fill: #feffff;
    margin: .5rem 2rem 1rem 0;
    height: 40px;
    width: 40px;
    position: fixed;
    top: 0;
    right: 0;

}

.hamburgerPlaceholder {
    fill: #feffff;
    margin: .5rem 2rem 1rem 0;
    height: 40px;
    width: 40px;
}
.linkAnchor {
    position: relative;
    top: -8rem;
    color: transparent;
    background-color: transparent;
}


.gridContainer {
    width: fit-content;
    margin: 0 auto 1rem auto;
    display: grid;
    grid-template-columns: repeat(3, 32rem);
    grid-auto-rows: 32rem;
    column-gap: 1rem;
    row-gap: 1rem;
    position: relative;
    top: 5rem;
    grid-auto-flow: dense;
}

.gridElements {
    transition: all 0.2s ease-in-out;
    color: #feffff;
    width: 32rem;
    height: 32rem;
    z-index: 1;
    overflow: hidden;
}


#clicked {
    grid-column: span 2;
    grid-row: span 2;
    width: 65rem;
    height: 65rem;
    z-index: 2;
}

#unclicked {
    grid-column: span 2;
    grid-row: span 2;
}

.gridItemmain {
    grid-column: span 3;
    width: 98rem;
}
#clicked.gridItemskills {
    grid-row: span 1;
    height: 32rem;
}
.gridItemmaps {
    grid-column: span 2;
    width: 65rem;
}
.gridItemcontact {
    grid-column: span 2;
    width: 65rem;
}
.gridItemprojects{
    grid-column: span 1;
    grid-row: span 3;
    height: 98rem;
}
#clicked.gridItemprojects {
    grid-row: span 3;
    height: 98rem;
}



@media screen and (max-width: 450px) {
    .head {
        height: 60px;
    }
    .head h1 {
        font-size: 5rem;
        margin: auto 0 auto 2rem;
    }
    .linkAnchor {
        top: -60px;
    }

    .gridContainer {
        grid-template-columns: repeat(2, 48rem);
        grid-auto-rows: 48rem;
        top: calc(40px + 2.5rem);
    }

    .gridElements {
        width: 48rem;
        height: 48rem;
    }

    #clicked {
        width: 97rem;
        height: 97rem;
    }


    .gridItemmain {
        grid-column: span 2;
        width: 97rem;
    }
    #clicked.gridItemskills {
        height: 48rem;
    }
    .gridItemmaps {
        width: 97rem;
    }
    .gridItemcontact {
        width: 97rem;
    }
    .gridItemprojects {
        height: 146rem;
    }
    #clicked.gridItemprojects {
        height: 146rem;
    }

}
@media screen and (min-width: 1800px) {

    .gridContainer {
        grid-template-columns: repeat(4, 24rem);
        grid-auto-rows: 24rem;
    }

    .gridElements {
        width: 24rem;
        height: 24rem;
    }

    #clicked {
        width: 49rem;
        height: 49rem;
    }


    .gridItemmain {
        grid-column: span 4;
        width: 99rem;
    }
    #clicked.gridItemskills {
        height: 24rem;
    }
    .gridItemmaps {
        width: 49rem;
    }
    .gridItemcontact {
        width: 49rem;
    }
    .gridItemprojects{
        height: 74rem;
    }
    #clicked.gridItemprojects {
        height: 74rem;
    }
}